@import "https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800";@-webkit-keyframes "float" {
  0%,100% {
    -moz-transform: translate(0px, 15px);
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); }
  25% {
    -moz-transform: translate(-250px, -15px);
    -webkit-transform: translate(-250px, -15px);
    transform: translate(-250px, -15px); }
  50% {
    -moz-transform: translate(-500px, 15px);
    -webkit-transform: translate(-500px, 15px);
    transform: translate(-500px, 15px); }
  75% {
    -moz-transform: translate(150px, -30px);
    -webkit-transform: translate(150px, -30px);
    transform: translate(150px, -30px); } }
@-moz-keyframes "float" {
  0%,100% {
    -moz-transform: translate(0px, 15px);
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); }
  25% {
    -moz-transform: translate(-250px, -15px);
    -webkit-transform: translate(-250px, -15px);
    transform: translate(-250px, -15px); }
  50% {
    -moz-transform: translate(-500px, 15px);
    -webkit-transform: translate(-500px, 15px);
    transform: translate(-500px, 15px); }
  75% {
    -moz-transform: translate(150px, -30px);
    -webkit-transform: translate(150px, -30px);
    transform: translate(150px, -30px); } }
@-o-keyframes "float" {
  0%,100% {
    -moz-transform: translate(0px, 15px);
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); }
  25% {
    -moz-transform: translate(-250px, -15px);
    -webkit-transform: translate(-250px, -15px);
    transform: translate(-250px, -15px); }
  50% {
    -moz-transform: translate(-500px, 15px);
    -webkit-transform: translate(-500px, 15px);
    transform: translate(-500px, 15px); }
  75% {
    -moz-transform: translate(150px, -30px);
    -webkit-transform: translate(150px, -30px);
    transform: translate(150px, -30px); } }
@keyframes "float" {
  0%,100% {
    -moz-transform: translate(0px, 15px);
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px); }
  25% {
    -moz-transform: translate(-250px, -15px);
    -webkit-transform: translate(-250px, -15px);
    transform: translate(-250px, -15px); }
  50% {
    -moz-transform: translate(-500px, 15px);
    -webkit-transform: translate(-500px, 15px);
    transform: translate(-500px, 15px); }
  75% {
    -moz-transform: translate(150px, -30px);
    -webkit-transform: translate(150px, -30px);
    transform: translate(150px, -30px); } }
@-webkit-keyframes "clouds" {
  from {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -moz-transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@-moz-keyframes "clouds" {
  from {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -moz-transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@-o-keyframes "clouds" {
  from {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -moz-transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@keyframes "clouds" {
  from {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -moz-transform: translateX(-2000px);
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@-webkit-keyframes "navColor" {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-moz-keyframes "navColor" {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-o-keyframes "navColor" {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@keyframes "navColor" {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@-webkit-keyframes "navHeight" {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@-moz-keyframes "navHeight" {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@-o-keyframes "navHeight" {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@keyframes "navHeight" {
  from {
    height: 0px; }
  to {
    height: 60px; } }
@-webkit-keyframes "menuColor-in" {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-moz-keyframes "menuColor-in" {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-o-keyframes "menuColor-in" {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@keyframes "menuColor-in" {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-webkit-keyframes "textColor-in" {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@-moz-keyframes "textColor-in" {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@-o-keyframes "textColor-in" {
  from {
    color: transparent; }
  to {
    color: #fff; } }
@keyframes "textColor-in" {
  from {
    color: transparent; }
  to {
    color: #fff; } }
/** Keep paragraph format
    consistent in mobile **/
@keyframes "blink" {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes "blink" {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes "blink" {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*# sourceMappingURL=custom.css.map */
body {
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; }

a {
  cursor: pointer; }

nav {
  box-shadow: none;
  background-color: transparent; }
  nav .nav-wrapper {
    width: 70%;
    margin: 0 auto; }
  nav .brand-logo {
    margin-top: 8px; }

.navDown {
  height: 60px;
  background-color: #fff;
  -webkit-animation: navHeight 0.3s ease;
  -moz-animation: navHeight 0.3s ease;
  animation: navHeight 0.3s ease;
  -webkit-animation: navColor 0.3s ease;
  -moz-animation: navColor 0.3s ease;
  animation: navColor 0.3s ease; }

.clouds {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  -moz-animation: clouds 800s linear infinite;
  -webkit-animation: clouds 800s linear infinite;
  animation: clouds 800s linear infinite;
  position: absolute; }

.menu {
  display: block;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  -webkit-animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
  -moz-animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
  animation: menuColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44); }
  .menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .menu li > a {
    -webkit-animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    -moz-animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    animation: textColor-in 0.5s cubic-bezier(0.81, 0.01, 0.24, 0.44);
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    line-height: 1.1em;
    font-weight: 300; }
    .menu li > a:hover {
      color: #51a3fb; }
  .menu #menu_burger {
    float: right !important; }
    .menu #menu_burger img {
      transform: scale(1.8); }

.custom-button {
  width: 55%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 12px 0; }

.button-blue {
  width: 55%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
  background-color: #141d40;
  color: #ff00df; }

.button-pink {
  width: 55%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #ff00df;
  color: #ff00df;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 12px; }

.text-contrast {
  color: #96bdff !important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 1.5em !important;
  z-index: 9999 !important; }

#intro-end {
  display: none; }
  #intro-end h1 {
    font-size: 2.7em; }

.inverse {
  background-color: #ff00df;
  color: #141d40; }

.icon-inbound:before {
  content: url("../images/icons/icon_inbound2X.png"); }

.icon-inbounddelivery:before {
  content: url("../images/icons/icon_inbounddelivery2X.png"); }

.icon-outbound:before {
  content: url("../images/icons/icon_outbound2X.png"); }

.icon-autoresponder:before {
  content: url("../images/icons/icon_autoresponders2X.png"); }

.icon-campaigning:before {
  content: url("../images/icons/icon_campaignmngr2X.png"); }

.icon-compliance:before {
  content: url("../images/icons/icon_compliance2X.png"); }

.icon-listmanagement:before {
  content: url("../images/icons/icon_listmgmt2X.png"); }

.icon-networkinterconnect:before {
  content: url("../images/icons/icon_networkinterconnect2X.png"); }

.icon-restapi:before {
  content: url("../images/icons/icon_restapi2X.png"); }

.icon-sdksupport:before {
  content: url("../images/icons/icon_sdksupport_2X.png"); }

.icon-shortcodes:before {
  content: url("../images/icons/icon_shortcodes2X.png"); }

.icon-longcodes:before {
  content: url("../images/icons/icon_longcodes2X.png"); }

.icon-callforwarding:before {
  content: url("../images/icons/icon_callforwarding2X.png"); }

.icon-callrecording:before {
  content: url("../images/icons/icon_callrecording2X.png"); }

.icon-e911:before {
  content: url("../images/icons/icon_e9112X.png"); }

.icon-faxvoicemail:before {
  content: url("../images/icons/icon_faxvoicemail2X.png"); }

.icon-fullfeaturedapi:before {
  content: url("../images/icons/icon_fullfeaturedapi2X.png"); }

.icon-hdvoice:before {
  content: url("../images/icons/icon_hdvoice2X.png"); }

.icon-iot:before {
  content: url("../images/icons/icon_iot2X.png"); }

.icon-securetrunking:before {
  content: url("../images/icons/icon_securetrunking2X.png"); }

.icon-sms:before {
  content: url("../images/icons/icon_sms2X.png"); }

hr {
  color: #ccc;
  width: 35%;
  border-style: solid; }

hr.vertical {
  width: 0.01%;
  height: 385px;
  background-color: #ccc;
  margin-top: -5%; }

img.background {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0; }

.slick-slide {
  float: none; }
  .slick-slide img {
    width: 90%;
    height: auto;
    margin: 0 auto; }

.slick-initialized .slick-slide {
  display: inline-block; }

.slider-nav {
  text-align: center;
  color: #96bdff;
  font-size: 14px;
  cursor: pointer; }
  .slider-nav .slick-track {
    margin: 0 auto; }
  .slider-nav .slick-slide {
    height: 115px;
    line-height: 100px;
    margin-right: 10px;
    background-color: rgba(150, 189, 255, 0.1); }
    .slider-nav .slick-slide span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      margin-left: 4px;
      margin-right: 4px; }
    .slider-nav .slick-slide:focus {
      outline: none; }

.slider-for p {
  text-align: center;
  font-size: 12px; }
  .slider-for p:first-of-type {
    margin-top: 50px; }
.slider-for ul {
  width: 50%;
  font-size: 12px;
  color: #fff;
  margin: 0 auto; }
.slider-for .slick-slide:focus {
  outline: none; }
.slider-for .slick-prev {
  top: 25%;
  width: 55px;
  height: auto;
  transform: scale(0.5) translate(0, -25%); }
  .slider-for .slick-prev:before {
    content: url("../images/platform/arrow_left.png"); }
.slider-for .slick-next {
  top: 25%;
  width: 55px;
  height: auto;
  transform: scale(0.5) translate(0, -25%); }
  .slider-for .slick-next:before {
    content: url("../images/platform/arrow_right.png"); }

.pane-one {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  padding: 50px 0;
  -webkit-background: linear-gradient(to bottom, #ccdcfe, #53a6ff 45%);
  -moz-background: linear-gradient(to bottom, #ccdcfe, #53a6ff 45%);
  background: linear-gradient(to bottom, #ccdcfe, #53a6ff 45%);
  padding-top: 0px;
  background-size: cover; }
  .pane-one .col {
    position: relative; }
  .pane-one #top_cloud_1 {
    top: -75px;
    left: 260px; }
  .pane-one #top_cloud_2 {
    top: -35px;
    right: 50px;
    z-index: -1; }
  .pane-one #top_cloud_3 {
    right: -100px;
    z-index: -1; }
  .pane-one .container {
    position: relative;
    margin-top: 10%;
    z-index: 10; }
  .pane-one p {
    font-weight: 300;
    font-size: 20px;
    margin: 20px 0 10px;
    color: #fff;
    text-transform: uppercase; }
  .pane-one p.home-blue {
    color: #141d40;
    font-weight: 400;
    margin: 35px 0; }
  .pane-one h1 {
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 120%;
    margin: 0 0 1.68rem;
    color: #fff;
    text-transform: uppercase; }
  .pane-one strong {
    color: #fff; }
  .pane-one span {
    color: #fff;
    border-bottom: 4px solid #141d40;
    vertical-align: text-bottom; }
    .pane-one span > a {
      color: #fff; }
  .pane-one .col.s8 {
    margin-top: 10%; }
  .pane-one #heli {
    position: absolute;
    top: 65px;
    left: 50%;
    z-index: 11;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-animation: float 15s ease-in-out 1;
    -webkit-animation: float 15s ease-in-out 1;
    animation: float 15s ease-in-out 1;
    animation-fill-mode: forwards; }

.pane-two {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  padding: 50px 0;
  position: relative;
  background: #fff no-repeat top center;
  background-size: cover; }
  .pane-two h1 {
    text-transform: uppercase;
    color: #969696;
    font-weight: 200;
    font-size: 3.2rem; }
  .pane-two h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 10%; }
  .pane-two .right-align p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #000; }
  .pane-two .center-align p {
    text-transform: uppercase; }
  .pane-two .m4 > p:first-of-type {
    position: relative; }
    .pane-two .m4 > p:first-of-type:after {
      position: absolute;
      right: 0;
      content: url("../images/home/facepalm-25by25.png");
      bottom: -2.5px; }
  .pane-two p:nth-of-type(2) {
    position: relative; }
    .pane-two p:nth-of-type(2):after {
      position: absolute;
      right: 0;
      content: url("../images/home/firegoat-25by25.png");
      bottom: -2.5px; }
  .pane-two #mid_cloud_1 {
    left: -15px;
    top: 10px;
    z-index: 0; }
  .pane-two #mid_cloud_2 {
    right: 100px;
    bottom: -35px;
    z-index: 0; }
  .pane-two #mid_cloud_3 {
    top: 0;
    right: -129px;
    z-index: 0; }
  .pane-two #mid_cloud_4 {
    bottom: 160px;
    right: 95px;
    z-index: 0; }
  .pane-two #quotations {
    margin-top: 20%; }
  .pane-two h4 {
    font-weight: 500;
    font-size: 1.1rem; }
  .pane-two em {
    font-style: normal;
    color: #5e5e5e;
    font-size: 11px;
    font-weight: 500;
    margin-right: 35px; }
    .pane-two em b {
      color: #000; }
  .pane-two .row:nth-child(2) {
    margin-bottom: 0px; }
  .pane-two .button-pink {
    width: 35%;
    margin: 1% 0;
    display: inline-block;
    position: relative;
    z-index: 10; }
  .pane-two .s12.m8 {
    padding: 3% 0 5%;
    margin-top: 28px;
    margin-bottom: 3%; }
    .pane-two .s12.m8 p {
      position: relative;
      z-index: 10; }
  .pane-two .col.s12 {
    position: relative; }
  .pane-two .col.s12.m4.offset-m1 {
    text-align: right;
    font-weight: bold; }
  .pane-two .border-grey {
    border: 2px solid #ccc; }

.pane-three {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  padding: 50px 0;
  position: relative;
  background: url("../images/home/Apeiron_Home_Pane3.png") no-repeat center bottom;
  background-size: cover; }
  .pane-three .row {
    margin-bottom: 65px; }
    .pane-three .row:first-of-type .m4:first-of-type h2:before {
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
      display: inline-block;
      position: absolute;
      top: -70px;
      content: url("../images/home/home_icon_voice2X.png");
      left: -22px; }
    .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
      display: inline-block;
      position: absolute;
      top: -70px;
      content: url("../images/home/home_icon_messaging2X.png");
      left: -52px; }
    .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
      display: inline-block;
      position: absolute;
      content: url("../images/home/home_icon_platform2X.png");
      top: -65px;
      left: -37px; }
    .pane-three .row:last-child {
      margin-bottom: 0px; }
  .pane-three .button-pink {
    margin: 0 auto; }
  .pane-three h2 {
    color: #fff;
    font-weight: 300;
    font-size: 1.56rem;
    text-transform: uppercase;
    margin-bottom: .8rem; }
  .pane-three .s12 p:last-child {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 65px;
    padding-top: 50px; }
  .pane-three p {
    color: #96bdff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0px; }
  .pane-three .m4 {
    position: relative;
    z-index: 1; }
  .pane-three #astro {
    position: absolute;
    top: 0;
    width: 500px;
    margin-left: 100px; }

.page-rapper {
  background: linear-gradient(to bottom, #52a4fd, #162145 35%); }
  .page-rapper .container:first-child {
    margin-bottom: 50px; }
  .page-rapper .col {
    margin-top: 30px;
    margin-bottom: 30px; }
  .page-rapper .slider-nav .slick-current.slick-active {
    background-image: url("../images/platform/PlatformPage_PinkOutline.png");
    background-size: 100% 130px;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    height: 130px;
    background-color: transparent; }
  .page-rapper img.free {
    max-width: 100%;
    max-height: 145%;
    position: absolute;
    bottom: 0;
    right: 18%;
    top: -20%; }
  .page-rapper h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 5.7rem; }
  .page-rapper h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    color: #ff00df;
    font-weight: 300;
    font-size: 1.33rem;
    margin: 0; }
  .page-rapper h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200; }
  .page-rapper h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    text-transform: none;
    font-weight: 400;
    font-size: .9rem; }
  .page-rapper h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-weight: 600;
    font-size: 1.24rem; }
  .page-rapper p {
    color: #fff; }
  .page-rapper .m4 {
    position: relative; }
    .page-rapper .m4 p {
      color: #fff;
      font-size: 12px;
      margin: 0;
      font-weight: 200; }
  .page-rapper .m10 > p {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.8; }
  .page-rapper tr > td {
    color: #96bdff;
    font-weight: 600; }
    .page-rapper tr > td:first-of-type {
      color: #fff; }
  .page-rapper tr:nth-child(3) td:nth-child(7).intl-box {
    bottom: 18%;
    right: 24%; }
  .page-rapper tr:nth-child(2) td:nth-child(7).intl-box {
    bottom: 18%;
    right: 7.3%; }
  .page-rapper tr:first-of-type > td:nth-of-type(3) {
    position: relative; }
  .page-rapper tr td:nth-of-type(3) > span {
    color: #ff00df; }
  .page-rapper .features {
    position: relative; }
    .page-rapper .features p {
      text-align: center;
      color: #96bdff;
      font-size: 12px;
      cursor: pointer; }
      .page-rapper .features p::after {
        content: url("../images/voice/arrow_down.png");
        display: block; }
    .page-rapper .features p.up::after {
      content: url("../images/voice/arrow_up.png"); }
    .page-rapper .features .icon {
      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
      display: block;
      position: relative; }
    .page-rapper .features + .container > .row {
      padding-bottom: 20px;
      margin-bottom: 0px; }
    .page-rapper .features a {
      cursor: pointer; }
  .page-rapper hr {
    width: 28%; }
  .page-rapper hr.vertical {
    width: 0.001%;
    height: 115px; }
  .page-rapper table {
    position: relative; }
  .page-rapper thead {
    background-color: #51a3fb; }
  .page-rapper td {
    padding: 10px 5px 10px 35px;
    font-size: 12px; }
  .page-rapper th {
    padding: 10px 5px 10px 35px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px; }
    .page-rapper th:nth-child(3) {
      color: #fff; }
    .page-rapper th:nth-child(4) {
      color: #fff; }
  .page-rapper td.intl-box {
    position: absolute;
    background-color: #162145;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 0px; }
  .page-rapper table.bordered > thead > tr {
    border-bottom: 1px solid #454d6a; }
  .page-rapper table.bordered > tbody > tr {
    border-bottom: 1px solid #454d6a; }
  .page-rapper .button {
    text-align: right; }
  .page-rapper .button-blue {
    display: inline-block;
    width: 90%;
    margin-top: 10%; }
  .page-rapper .button-pink {
    width: 100%;
    font-weight: 600; }

.page-rapper.voice th:nth-child(2) {
  width: 30%; }
.page-rapper.voice img.responsive-img {
  margin-bottom: 50px; }
.page-rapper.voice .m4 .icon {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  display: inline-block;
  position: absolute; }
.page-rapper.voice .m4 .icon.icon-inbound {
  top: -40px;
  left: -125px; }
.page-rapper.voice .m4 .icon.icon-outbound {
  top: -60px;
  right: -155px; }

.page-rapper.platform .container {
  position: relative; }
  .page-rapper.platform .container > .row + .row {
    margin-bottom: 0px; }

.page-rapper.messaging .m4 .icon {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  display: inline-block;
  position: absolute; }
.page-rapper.messaging .m4 .icon.icon-inbound {
  top: -40px;
  left: -125px; }
.page-rapper.messaging .m4 .icon.icon-outbound {
  top: -60px;
  right: -155px;
  top: -50px; }

footer {
  margin-top: 10px; }
  footer p {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 5px;
    color: #162145; }
  footer .row {
    margin-bottom: 0; }
  footer ul {
    margin-top: 5px; }

.footer-title {
  font-size: 1em !important;
  text-transform: uppercase;
  margin-bottom: 0; }

.footer-copyright {
  padding: 10px 0 10px 0; }

.bg-white {
  background: #fff;
  color: #000;
  padding: 0 35px 0 35px !important; }
  .bg-white h4 {
    color: #000;
    font-size: 2.2em;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0; }
  .bg-white p {
    color: #000; }

.bg-dark {
  background: #272822;
  color: #fff;
  padding: 10px 35px 10px 35px;
  margin-top: 0; }
  .bg-dark h5 {
    color: red;
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase; }
  .bg-dark p {
    color: #fff; }
  .bg-dark code {
    word-wrap: break-word; }

#messageOutput {
  background: #d14b5a;
  padding: 1rem;
  color: #fff;
  text-align: center; }
  #messageOutput p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600; }
  #messageOutput h5 {
    color: #fff;
    font-size: 1.7em;
    font-weight: 900; }

.btn-blue {
  background: #131c41; }
  .btn-blue:hover {
    background: #ff00e1; }
  .btn-blue:active {
    background: #ff00e1; }
  .btn-blue:focus {
    background: #ff00e1; }

.flash {
  background-color: red;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  width: 100%; }

.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0; }

.mb50 {
  margin-bottom: 50px; }

.pb0 {
  padding-bottom: 0; }

.pb15p {
  padding-bottom: 15%; }

.text-dark {
  color: #444 !important; }

.terminal {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  display: block;
  margin: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 30px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .terminal .prompt {
    color: #ff00df; }

.terminal-body {
  padding: 5px 10px;
  height: 275px;
  overflow-y: auto;
  word-break: normal;
  background-color: #000;
  color: #fff; }
  .terminal-body #shell_output {
    margin: 5px 0 5px 0; }

.terminal-title-bar {
  padding: 5px 0;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

.nodisplay {
  display: none; }

#cnamWrapper {
  margin-top: 5rem; }

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    transform: none; } }
@media (max-width: 780px) {
  .pane-three #astro {
    width: 400px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    left: -25px; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    left: -70px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    left: -50px; }

  #intro-end h1 {
    font-size: 2em; } }
@media only screen and (max-width: 600px) {
  .slider-for .slick-prev {
    top: 55%;
    width: 55px;
    height: auto;
    transform: scale(0.3) translate(0, -25%); }
  .slider-for .slick-next {
    top: 55%;
    width: 55px;
    height: auto;
    transform: scale(0.3) translate(0, -25%); }

  .slick-next {
    right: -22px; }

  .slick-prev {
    left: -22px; }

  .brand-logo img {
    width: 70%; }

  .pane-one h1 {
    font-size: 2.0rem; }
  .pane-one .button-blue {
    width: 100%; }

  .pane-two img {
    margin-top: 0; }
  .pane-two .col.s12.m4.offset-m1 {
    text-align: left; }

  .pane-three .row {
    padding-top: 0px; }
    .pane-three .row:first-of-type .m4:first-of-type {
      margin-bottom: 65px; }
      .pane-three .row:first-of-type .m4:first-of-type h2:before {
        left: 65px; }
    .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
      left: 25px; }
    .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
      left: 40px; }
  .pane-three #astro {
    display: none; }

  .page-rapper h1 {
    font-size: 3.7rem; }
  .page-rapper .col.s12.m4 {
    text-align: center; }
  .page-rapper img.free {
    right: 8%; }
  .page-rapper .m4 .icon.icon-inbound {
    display: none; }
  .page-rapper .m4 .icon.icon-outbound {
    display: none; }
  .page-rapper .icon-outbound + h2 {
    margin-top: 25px; }

  .page-rapper.voice th:nth-child(2) {
    width: 15%; }

  nav .nav-wrapper {
    width: 90%; }

  .menu li > a {
    font-size: 38px; } }
@media (max-width: 420px) {
  .pane-three .pane-three .row:first-of-type .m4:first-of-type h2:before {
    top: -70px; }
  .pane-three .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    top: -70px; }
  .pane-three .row:first-of-type .m4:first-of-type h2:before {
    left: 15px; }
  .pane-three .row:first-of-type .m4:nth-of-type(2) h2:before {
    left: -25px; }
  .pane-three .row:nth-of-type(2) .m4:first-of-type h2:before {
    left: -10px; }

  .pane-one #heli {
    top: 50px;
    left: 55%;
    width: 30%; } }
@media (max-width: 767px) {
  .pane-one #heli {
    display: none; }

  .text-contrast br {
    display: none; } }
.nodisplay {
  display: none; }

#cnamWrapper {
  margin-top: 5rem; }

.tabs a {
  color: #00ACC1; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff00e2;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=custom.css.map */
