/*-----------------------------------------------*\

    $1 - GLOBAL

    $2 - MODULES
        -- SiteHeader
        -- SiteFooter
        -- PageHeader
        -- Breadcrumb
        -- Bandeau
        -- PageLayout
        -- Bloc
        -- Slider
        -- Sidebar
        -- Medias

    $3 - OBJECTS
        -- Button
        -- ReadMore
        -- Map
        -- Filtres

    $4 - DIVERS 

\*-----------------------------------------------*//* -- Font-family -- *//* -- Colorz -- *//* -- Rythme vertical -- *//* -- Font-size -- *\
    $size-value = Taille de la font en px
    $line = Taille de la line-height en px
    $parent = Taille de l'élément parent (héritage css)
*//* -- Extends -- *//*-----------------------------------------------*\
    $1 -- GLOBAL
\*-----------------------------------------------*//*-----------------------------------------------*\
    $4 -- DIVERS
\*-----------------------------------------------*//*-----------------------------------------------*\

    $0 - VERTICAL
    $1 - DESKTOP
    $2 - TABLETTES
    $3 - PHABLETTES
    $4 - SMARPHONES

\*-----------------------------------------------*//*-----------------------------------------------*\
    $0 -- VERTICAL
\*-----------------------------------------------*//* -- Medias -- *//* -- Bloc -- */.ilb{display:inline-block;*display:inline;/* Hack IE7 */zoom:1;}.cell{display:table-cell;vertical-align:middle;}.table{position:relative;display:table;height:100%;}.bb,.Volet,-cell.Bloc{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.fRight{float:right;}.fLeft{float:left;}.noTrans{-webkit-transition:none;transition:none;}.clear{clear:both;}.noGap{padding:0 !important;}.center{text-align:center;}.hidden{display:inline-block;height:0;width:0;overflow:hidden;}.height-10{height:300px;}.height-12{height:360px;}.height-16{height:480px;}.height-18{height:540px;}.height-22{height:660px;}.height-32{height:960px;}.col-xs-height{display:table-cell;float:none !important;vertical-align:top;height:100%;}.col-xs-height .Bloc-table{display:block;height:100%;overflow:visible;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.row-same-height{display:table;table-layout:fixed;width:100%;height:100%;}@font-face{font-family:'Baskerville';src:url('../fonts/BaskervilleMTStd-Regular.eot');src:url('../fonts/BaskervilleMTStd-Regular-.eot#iefix') format('embedded-opentype'), url('../fonts/BaskervilleMTStd-Regular.woff') format('woff'), url('../fonts/BaskervilleMTStd-Regular.ttf') format('truetype'), url('../fonts/BaskervilleMTStd-Regular.svg#ca5a911bf7d5a88cfa33f36bbd9af94a') format('svg');font-style:normal;font-weight:400;}@font-face{font-family:'BaskervilleItalic';src:url('../fonts/BaskervilleMTStd-Italic.eot');src:url('../fonts/BaskervilleMTStd-Italic-.eot#iefix') format('embedded-opentype'), url('../fonts/BaskervilleMTStd-Italic.woff') format('woff'), url('../fonts/BaskervilleMTStd-Italic.ttf') format('truetype'), url('../fonts/BaskervilleMTStd-Italic.svg#2523ef87fbc32b59fb7153a2eff49fa3') format('svg');font-weight:400;}@font-face{font-family:'BaskervilleBold';src:url('../fonts/BaskervilleMTStd-Bold.eot');src:url('../fonts/BaskervilleMTStd-Bold-.eot#iefix') format('embedded-opentype'), url('../fonts/BaskervilleMTStd-Bold.woff') format('woff'), url('../fonts/BaskervilleMTStd-Bold.ttf') format('truetype'), url('../fonts/BaskervilleMTStd-Bold.svg#f13e59ef8776ab8fc883d0fd6177aa5f') format('svg');font-style:normal;font-weight:400;}@font-face{font-family:'CircularBlack';src:url('../fonts/CircularStd-Black.eot');src:url('../fonts/CircularStd-Black-.eot#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf') format('truetype'), url('../fonts/CircularStd-Black.svg#69f4a7954d9815defd5c51897ccaf059') format('svg');font-style:normal;font-weight:400;}@font-face{font-family:'CircularBook';src:url('../fonts/CircularStd-Book.eot');src:url('../fonts/CircularStd-Book-.eot#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg');font-style:normal;font-weight:400;}@font-face{font-family:'CircularMedium';src:url('../fonts/CircularStd-Medium.eot');src:url('../fonts/CircularStd-Medium-.eot#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#a81919819e5d11fb78ee7eadc8883b0d') format('svg');font-style:normal;font-weight:400;}@font-face{font-family:'CircularBold';src:url('../fonts/CircularStd-Bold.eot');src:url('../fonts/CircularStd-Bold-.eot#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#b333381778fc1f96de44d359c7f8b95e') format('svg');font-style:normal;font-weight:700;}@font-face{font-family:'LibreBaskervilleItalic';src:url('../fonts/LibreBaskerville-Italic-webfont.eot');src:url('../fonts/LibreBaskerville-Italic-webfont-.eot#iefix') format('embedded-opentype'), url('../fonts/LibreBaskerville-Italic-webfont.woff2') format('woff2'), url('../fonts/LibreBaskerville-Italic-webfont.woff') format('woff'), url('../fonts/LibreBaskerville-Italic-webfont.ttf') format('truetype'), url('../fonts/LibreBaskerville-Italic-webfont.svg#libre_baskervilleitalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'NeutrafaceLight';src:url('../fonts/Neutra2Display-Light.eot');src:url('../fonts/Neutra2Display-Light-.eot#iefix') format('embedded-opentype'), url('../fonts/Neutra2Display-Light.woff') format('woff'), url('../fonts/Neutra2Display-Light.ttf') format('truetype'), url('../fonts/Neutra2Display-Light.svg#d20946f9d38d51645db8bde272b58bcd') format('svg');font-style:normal;font-weight:200;}@font-face{font-family:'icomoon';src:url('../fonts/icomoon--4yq2oj.eot');src:url('../fonts/icomoon-.eot#iefix-4yq2oj') format('embedded-opentype'), url('../fonts/icomoon--4yq2oj.woff') format('woff'), url('../fonts/icomoon--4yq2oj.ttf') format('truetype'), url('../fonts/icomoon--4yq2oj.svg#icomoon') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:after,[class^="icon-"]:after,[class*=" icon-"]:before{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;/* Better Font Rendering =========== */text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}[class^="icon-"] span.hidden,[class*=" icon-"] span.hidden{display:inline-block;height:0;width:0;overflow:hidden;}.icon-linkedin:before{content:"\f08c";}.icon-twitter:before{content:"\f099";}.icon-facebook:before{content:"\f09a";}.icon-skype:before{content:"\f17e";}.icon-arrow-right:after{content:"\f0da";position:absolute;right:20px;}.icon-send:after{position:absolute;color:#fff;content:"\e600";margin-left:30px;font-size:25px;transition:all 500ms ease-out;-webkit-transition:all 500ms ease-out;/* -- Arrow down -- */}.icon-bot:after{content:"↓";display:inline-block;-webkit-animation:scrolldown 1.5s infinite ease-in-out;animation:scrolldown 1.5s infinite ease-in-out;}@-webkit-keyframes scrolldown{/* Standard syntax */0%{transform:translateY(-4px) translateZ(0);-webkit-transform:translateY(-4px) translateZ(0);}50%{transform:translateY(4px) translateZ(0);-webkit-transform:translateY(4px) translateZ(0);}100%{transform:translateY(-4px) translateZ(0);-webkit-transform:translateY(-4px) translateZ(0);}}@keyframes scrolldown{/* -- Barre latérale -- */0%{transform:translateY(-4px) translateZ(0);-webkit-transform:translateY(-4px) translateZ(0);}50%{transform:translateY(4px) translateZ(0);-webkit-transform:translateY(4px) translateZ(0);}100%{transform:translateY(-4px) translateZ(0);-webkit-transform:translateY(-4px) translateZ(0);}}#btnMenu .icon-menu{position:relative;display:inline-block;width:19px;height:2px;background:#fff;top:-5px;margin-left:12px;transition:all 400ms ease-out;-webkit-transition:all 400ms ease-out;/* -- Hover -- */}#btnMenu .icon-menu:before,#btnMenu .icon-menu:after{content:'';position:absolute;display:block;width:19px;height:2px;background:#fff;transition:all 150ms ease-out;-webkit-transition:all 150ms ease-out;}#btnMenu .icon-menu:before{top:-6px;}#btnMenu .icon-menu:after{top:6px;}#btnMenu:hover .icon-menu:before{top:-10px;}#btnMenu:hover .icon-menu:after{top:10px;/* -- Open -- */}#btnMenu.isMenuOpen .icon-menu:before,#btnMenu.isMenuOpen .icon-menu:after{top:0;transition:all 250ms ease-out;-webkit-transition:all 250ms ease-out;-webkit-transform:rotate(45deg);transform:rotate(45deg);}#btnMenu.isMenuOpen .icon-menu:after{transition:all 250ms ease-out;-webkit-transition:all 250ms ease-out;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}#btnMenu.isMenuOpen .icon-menu{background:none;}.s-cap{font-family:"CircularBook";text-transform:uppercase;letter-spacing:0.2em;/* -- Titres principaux -- */}[class*=s-title]{font-family:"CircularBook";}.s-title1{font-size:4.16667em;line-height:1.2em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-title1 em{font-size:1.1em;}.s-title2{font-size:2.22222em;line-height:1.125em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-title3{font-size:1.33333em;line-height:1.25em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-title4{font-size:1.22222em;line-height:1.90909em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-title5{font-size:0.88889em;line-height:1.25em;/* -- Transition -- *\
    $duree = duree de la transition
*//* -- Accroche -- */}.s-hook1{font-size:1.66667em;line-height:1.33333em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-hook2{font-size:1.38889em;line-height:1.2em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-hook3{font-size:1.22222em;line-height:1.54545em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.s-intitule{font-size:0.88889em;line-height:1.1875em;/* -- Transition -- *\
    $duree = duree de la transition
*/text-transform:uppercase;letter-spacing:0.3em;}.s-cat{color:#ccc;font-family:"CircularBlack";font-size:0.61111em;line-height:1.36364em;/* -- Transition -- *\
    $duree = duree de la transition
*/text-transform:uppercase;/* -- Wysiwyg -- */}.wysiwyg .bold,.wysiwyg strong{font-family:"BaskervilleBold";}.wysiwyg p + p,.wysiwyg p + ul,.wysiwyg p + ol,.wysiwyg ul + ul,.wysiwyg ul + p,.wysiwyg ul + ol,.wysiwyg ol + ol,.wysiwyg ol + p,.wysiwyg ol + ul,.wysiwyg h3 + p,.wysiwyg h3 + ul,.wysiwyg h3 + ol{margin-top:30px;}.wysiwyg p + h3,.wysiwyg ul + h3,.wysiwyg ol + h3{margin-top:50px;margin-bottom:25px;}.wysiwyg sub{vertical-align:sub;}.wysiwyg sup{vertical-align:super;}.wysiwyg ol{list-style-type:decimal;}.wysiwyg li{display:block;}.wysiwyg li:before{content:'→';margin-right:5px;font-size:14px;}.wysiwyg a{position:relative;padding-bottom:5px;border-bottom:1px solid #e0e0e0;}.wysiwyg a:hover{color:#f44336;border-bottom:1px solid #f44336;}em{font-family:"BaskervilleItalic";}.cBlack{color:#333;}.form-item{position:relative;margin-top:30px;}label{font-family:"CircularBook";}.required{position:absolute;height:60px;line-height:60px;right:20px;z-index:1;}input[type=text],input[type=email],textarea{width:100%;padding:0 40px 0 20px;background:#f2f2f2;font-family:"CircularBook";font-size:0.88889em;line-height:3.75em;/* -- Transition -- *\
    $duree = duree de la transition
*/border:none;}input{height:60px;}textarea{height:390px;resize:none;}button{width:100%;background:#5e5e5e;border:none;color:#fff;font-family:"CircularBlack";font-size:0.66667em;line-height:5em;/* -- Transition -- *\
    $duree = duree de la transition
*/text-transform:uppercase;letter-spacing:0.1em;cursor:pointer;transition:all 500ms ease-out;-webkit-transition:all 500ms ease-out;}button:hover,button:active,button:focus{background:#333;}button:hover:after,button:active:after,button:focus:after{margin-left:100px;}input:focus,textarea:focus{outline:#333 solid 2px;box-shadow:none;/*** ACF ***/}.wpcf7-not-valid-tip{padding-left:20px;margin-top:5px;font-family:"CircularBook";font-size:16px !important;}.wpcf7-not-valid{outline:#f44336 solid 2px !important;box-shadow:none;}.wpcf7-response-output{font-family:"CircularBook";padding:0 !important;border:none !important;color:#f44336;}.wpcf7-mail-sent-ok{color:#398f14;}.noScroll{overflow:hidden;}.MediaViewer{background-color:rgba(0, 0, 0, .9);position:fixed;width:100%;height:100%;top:0;left:0;z-index:50;}.MediaViewer-btn{color:#efece5;position:absolute;cursor:pointer;width:76px;height:40px;border-radius:70px;border:1px solid #efece5;text-align:center;line-height:38px;font-size:18px;transition:all 300ms linear;-webkit-transition:all 300ms linear;font-family:"Trebuchet MS";}.MediaViewer-btn:hover{border:1px solid #f44336;color:#f44336;}.MediaViewer-btn.close{top:50px;right:54px;width:68px;height:68px;line-height:67px;font-size:24px;}.MediaViewer-btn.prev{top:calc(50% - 20px);left:50px;}.MediaViewer-btn.next{top:calc(50% - 20px);right:50px;}.MediaViewer-container{position:absolute;width:100%;height:100%;top:0;left:0;}.MediaViewer-container img{position:absolute;opacity:0;}.Medias{background:#333;padding:90px;color:#fff;}.Medias-frame{width:100%;height:100%;overflow:hidden;position:relative;}.Medias-mobile{width:99999px;position:relative;}.Medias-visuel{position:relative;width:242px;height:150px;overflow:hidden;margin-right:30px;margin-bottom:15px;background:#333;}.Medias-visuel img{position:absolute;display:block;left:-100%;right:-100%;top:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;width:auto;height:auto;opacity:0.5;filter:grayscale(1);-webkit-filter:grayscale(1);transition:all 400ms ease-out;-webkit-transition:all 400ms ease-out;-webkit-backface-visibility:hidden;-webkit-transform:translate3D(0);}.Medias-visuel:hover img{filter:grayscale(0);-webkit-filter:grayscale(0);opacity:1;}.Medias-list{margin-top:3.33em;}.Medias .Medias-intitule.right{float:right;}.Medias-btnGallery{position:relative;top:-5px;float:right;color:#fff;font-family:"CircularBook";font-size:0.66667em;line-height:1.58333em;/* -- Transition -- *\
    $duree = duree de la transition
*/letter-spacing:0.3em;text-transform:uppercase;}.Medias-btnGallery .BtnNav{margin-left:20px;}.Medias-btnGallery .nbMedias{position:relative;top:-20px;}*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-ms-interpolation-mode:nearest-neighbor;image-rendering:optimizeQuality;}body{font-size:100%;font-size:1.125em;line-height:1.556em;background:#efece5;font-family:"Baskerville";text-rendering:geometricPrecision;overflow-x:hidden;background:#1a1a1a;-webkit-overflow-scrolling:touch;height:auto;top:0;left:0;min-height:100%;}#skip-link{display:none;}a{color:#333;text-decoration:none;transition:300ms ease-out;/*-----------------------------------------------*\
    $2 -- MODULES
\*-----------------------------------------------*//* -- Loader -- */}.Loading{position:fixed;width:100%;height:100vh;top:0;left:0;z-index:35;background:#1a1a1a;opacity:0;}.Loading.shown{opacity:1;transform:translateZ(0);}.Loading.hidden{display:none;}.Loading-loader{position:absolute;left:50%;margin-left:-27px;top:50%;margin-top:-30px;width:54px;height:61px;background:url('../img/ajax-loader.gif');opacity:0;}.Loading-loader.shown{opacity:1;}@-webkit-keyframes loader{0%{width:50%;transform:translateZ(0);}50%{width:100%;transform:translateZ(0);}100%{width:50%;transform:translateZ(0);}}@keyframes loader{/* -- SiteHeader -- */0%{width:50%;transform:translateZ(0);}50%{width:100%;transform:translateZ(0);}100%{width:50%;transform:translateZ(0);}}.HeaderBg{position:fixed;height:0;left:50%;margin-left:-690px;top:0;background:#262424;z-index:29;transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;}.HeaderBg.fixed{height:60px;}.HeaderBg.isMap{width:100% !important;left:0 !important;margin-left:0 !important;}.SiteHeader{position:fixed;left:50%;margin-left:-690px;height:60px;top:0;line-height:60px;z-index:50;opacity:0;-webkit-transform:translate3d(0, -30px, 0);transform:translate3d(0, -30px, 0);/* -- Menu -- */}.SiteHeader.shown{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}.SiteHeader.invert a{color:#fff;}.SiteHeader.invert li.current-menu-item a,.SiteHeader.invert li.current-menu-parent a{border-bottom:1px solid #fff;}.SiteHeader.invert .SiteHeader-nav > ul > li > a:before{text-shadow:-1px -1px 0 #1a1a1a, 1px -1px 0 #1a1a1a, -1px 1px 0 #1a1a1a, 1px 1px 0 #1a1a1a;}.SiteHeader-logo{margin-left:40px;-webkit-transition:none;transition:none;position:relative;top:3px;}.SiteHeader-logo svg{transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;}.SiteHeader-logo svg .letter{transition:all 500ms ease-out;-webkit-transition:all 500ms ease-out;fill:#fff;}.SiteHeader-logo svg.red .letter{fill:#f44336;}.SiteHeader-logo svg:hover{opacity:0.6;}.SiteHeader-menu{position:relative;float:right;top:3px;margin-right:40px;font-family:"CircularBold";text-transform:uppercase;font-size:0.83333em;line-height:4em;/* -- Transition -- *\
    $duree = duree de la transition
*/color:#fff;}.SiteHeader.isMap{width:100% !important;left:0 !important;margin-left:0 !important;}.Menu{position:fixed;display:table;display:none;table-layout:fixed;top:0;width:100%;height:700px;height:100vh;z-index:30;opacity:0;}.Volet{position:relative;display:table-cell;vertical-align:middle;width:62.5%;background:#efece5;padding:0 90px;left:-62.5%;}.Volet.menu{width:37.5%;left:37.5%;background:#262424;}.Volet.menu a{color:#666;}.Volet.menu a:hover{color:#fff;}.Volet.menu .current-menu-item > a,.Volet.menu .current-menu-parent > a{color:#fff;}.Volet-header,.Volet-footer,.Volet-nav{font-family:"CircularBook";}.Volet-footer{position:absolute;bottom:60px;font-size:0.83333em;line-height:1.2em;/* -- Transition -- *\
    $duree = duree de la transition
*/color:#999;}.Volet-footer a{color:#999;}.Volet-footer a:hover{color:#f44336;}.Volet-nav{font-size:2.77778em;line-height:1.2em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Volet-nav .current-menu-ancestor .sub-menu{max-height:100%;}.Volet-nav .sub-menu{height:0;font-size:0.4em;line-height:1.5em;/* -- Transition -- *\
    $duree = duree de la transition
*/overflow:hidden;}.Volet-nav .sub-menu.isItemOpen{height:100%;}.Volet-nav .sub-menu li:first-child{margin-top:25px;}.Volet-nav .sub-menu li:last-child{margin-bottom:35px;}.Volet-nav .sub-menu li:last-child:before{content:'';display:block;width:20px;height:2px;margin:14px 0;background:#666;}.Volet-header{position:absolute;top:20px;font-size:0.83333em;line-height:1.2em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Volet-header a.isActive{color:#fff;}.Volet-jumbo{position:relative;color:#333;font-size:2.27778em;line-height:1.21951em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Volet-social a{font-size:1.3em;margin-right:16px;}.space{margin-left:25px;/* -- SiteFooter -- */}.SiteFooter{position:relative;background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #fff 200%);background:-webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0)), color-stop(200%, #fff));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 200%);background:-o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #fff 200%);backgund:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0);color:#efece5;padding:120px 0 90px;margin-top:-60px;font-family:"CircularBook";font-size:0.77778em;line-height:1.5em;/* -- Transition -- *\
    $duree = duree de la transition
*//* -- PageHeader -- */}.SiteFooter svg{margin-top:-3px;}.SiteFooter svg .letter{fill:#efece5;}.SiteFooter svg,.SiteFooter-title{margin-bottom:21px;font-family:"CircularBold";}.SiteFooter-title{display:block;}.SiteFooter nav ul li.current-menu-item a,.SiteFooter nav ul li.current-menu-parent a{color:#f44336;}.SiteFooter a{color:#efece5;}.SiteFooter a:hover,.SiteFooter a:active .SiteFooter a.active{color:#f44336;}.SiteFooter-social{margin-top:78px;font-size:1.33333em;line-height:1em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.SiteFooter-social a{margin-right:17px;}.SiteFooter-social a:last-child{margin:0;}.SiteFooter-footer{padding-top:39px;color:#999;}.SiteFooter-footer a{color:#999;}.SiteFooter-footer .right{float:right;}.PageHeader{position:fixed;top:0;min-height:510px;height:100%;width:100%;background:#1a1a1a;color:#fff;overflow:hidden;opacity:0;/* -- BreadCrumb -- */}.PageHeader-container{display:table;height:100%;vertical-align:middle;}.PageHeader-titles{position:relative;display:table-cell;height:100%;padding:0 50% 0 90px;vertical-align:middle;z-index:1;}.PageHeader-titles .PageHeader-bigTitle,.PageHeader-titles h2{opacity:0;-webkit-transform:translate3d(0, -30px, 0);transform:translate3d(0, -30px, 0);}.PageHeader-titles .PageHeader-bigTitle.shown,.PageHeader-titles h2.shown{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}.PageHeader-accroche:before{content:'';display:block;width:60px;height:2px;margin:37px 0;background:#fff;}.PageHeader-bg{position:absolute;left:-100%;right:-100%;top:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;width:auto;height:auto;}.PageHeader-bg.opacity{opacity:0.3;}.PageHeader-degrade{position:absolute;width:100%;height:100%;top:0;background:url('../img/degrade-home.png') no-repeat center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;opacity:0.5;}.PageHeader .verbes{position:relative;display:inline-block;height:1em;color:#fff;font-size:0.7em;line-height:1.2em;top:0.06em;font-family:"LibreBaskervilleItalic";}.PageHeader .verbe{display:inline-block;position:absolute;left:0;top:0;padding:0 5px;background:#f44336;background:rgba(255, 67, 54, 0.8);}.PageHeader.full img{filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");filter:gray;filter:grayscale(1);-webkit-filter:grayscale(1);}.PageHeader-gobot{position:absolute;width:60px;height:60px;left:50%;margin-left:-30px;bottom:45px;text-align:center;border:1px solid #fff;color:#fff;font-size:1.5em;line-height:60px;border-radius:100%;-webkit-border-radius:100%;z-index:1;opacity:0;transition:none;-webkit-transition:none;/* -- Titre centré dans la page -- */}.PageHeader-gobot.shown{opacity:1;}.PageHeader.middle{/* -- Titre et accroche séparés -- */}.PageHeader.middle .PageHeader-container{height:75%;}.PageHeader.middle .PageHeader-titles{position:relative;display:table-cell;height:100%;padding:0 20%;text-align:center;}.PageHeader.middle .PageHeader-titles h1{opacity:0;-webkit-transform:translate3d(0, -30px, 0);transform:translate3d(0, -30px, 0);}.PageHeader.middle .PageHeader-titles h1.shown{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}.PageHeader.middle .PageHeader-accroche{margin-top:15px;}.PageHeader.middle .PageHeader-accroche:before{content:none;}.PageHeader.split .PageHeader-titles{padding:0 90px;}.PageHeader.split .s-title1{font-size:3.16667em;line-height:1.26316em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.PageHeader.split .s-hook2{font-size:1.22222em;line-height:1.31818em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.PageHeader.split .PageHeader-accroche{padding-left:90px;}.PageHeader.split .PageHeader-accroche:before{margin:0 0 30px;background:#f44336;}.BreadCrumb{position:relative;margin-top:-15px;margin-bottom:14px;font-size:0.61111em;line-height:2.72727pxem;/* -- Transition -- *\
    $duree = duree de la transition
*/text-transform:uppercase;font-family:"CircularBook";/* -- Bandeau -- */}.BreadCrumb li{display:inline;}.BreadCrumb li:not(:last-child):after{content:"→";margin:0 10px;}.BreadCrumb a{color:#fff;}.BreadCrumb a:hover{color:#f44336;}.Bandeau{position:relative;width:100%;height:270px;color:#fff;background:#f44336;/* -- PageLayout -- */}.Bandeau.empty{height:0;}.Bandeau-stats{position:relative;height:100%;}.Bandeau-texte{height:100%;padding:0 90px;}.Bandeau-stat{position:relative;height:100%;text-align:center;font-size:1.11111em;line-height:1.5em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Bandeau-stat .table{width:100%;}.Bandeau-number{font-family:"CircularBook";font-size:4em;line-height:0.5em;/* -- Transition -- *\
    $duree = duree de la transition
*/margin-bottom:15px;}.Bandeau-suffix{opacity:0;-webkit-transform:translate3d(0, 30px, 0);transform:translate3d(0, 30px, 0);}.Bandeau-suffix.shown{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}.PageLayout{position:relative;z-index:1;color:#666;background:#efece5;margin-top:540px;margin-top:100vh;}.PageLayout.middle{margin-top:calc(75vh);}.Bloc{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;border-bottom:1px solid #efece5;border-left:1px solid #efece5;}.Bloc.empty:last-child{border:none;}.Bloc.empty .Bloc-table{background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgIAK8f/P0/6gieipiYGAAAAINJXcziczOAAAAAElFTkSuQmCC) repeat;}.Bloc-table{position:relative;display:table;width:100%;height:100%;overflow:hidden;background:#fff;}.Bloc-cell{display:table-cell;vertical-align:middle;width:100%;height:100%;padding:0 90px;overflow:hidden;}.Bloc-cell.full{padding:0 180px;}.Bloc-body{padding:90px 0;opacity:1;}.Bloc-body.notShown{opacity:0;}.Bloc.noBorderLeft{border-left:none;}.Bloc.noBorder{border-left:none;border-bottom:none;}.Bloc-cat{margin-bottom:20px;color:#ccc;font-family:"CircularBlack";font-size:0.61111em;line-height:1.36364em;/* -- Transition -- *\
    $duree = duree de la transition
*/text-transform:uppercase;}.Bloc-cat .light{font-family:"CircularBook";}.Bloc-title{height:2.6em;width:110%;transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;}.Bloc-title.s-title3{font-size:1.11111em;line-height:1.35em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Bloc [class*=s-title]{color:#333;/* -- Link -- */}.Bloc-link{position:relative;/* -- Agence -- */}.Bloc-link:active .readMore,.Bloc-link:hover .readMore,.Bloc-link:active .Slider-title,.Bloc-link:hover .Slider-title{color:#f44336;/* -- Hover -- */}.Bloc-link .bloc{position:absolute;z-index:1;background:#efece5;-webkit-transition:all 250ms ease-out;transition:all 250ms ease-out;opacity:0;}.Bloc-link .horizontal{width:100%;height:5px;}.Bloc-link .vertical{width:5px;height:300%;}.Bloc-link .bloc1{top:0px;left:0px;}.Bloc-link .bloc2{top:0px;right:0px;}.Bloc-link .bloc3{bottom:0px;right:0px;}.Bloc-link .bloc4{bottom:0px;left:0px;}.Bloc-link:hover .bloc{-webkit-transition:all 250ms ease-in;transition:all 250ms ease-in;opacity:1;}.Bloc-agence{/* -- Liste des projets -- */}.Bloc-agence .s-hook2{line-height:42px;}.Bloc-agence .s-title4{margin-bottom:20px;}.Bloc-list{margin-top:60px;}.Bloc-list li{display:inline-block;width:24.5%;padding-right:60px;margin-bottom:30px;font-family:"CircularBook";vertical-align:top;}.Bloc-list li:after{content:'';display:block;width:30px;height:1px;background:#999;margin-top:30px;}.Bloc-listTitle{font-size:0.83333em;line-height:1.26667em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Bloc-listHook{font-size:0.72222em;line-height:1.46154em;/* -- Transition -- *\
    $duree = duree de la transition
*/color:#999;/* -- Visuel dans les projets -- */}.Bloc-zoneImg{float:left;padding-right:20px;}.noBorderBot{border-bottom:none;/* -- ActuFull -- */}.ActuFull{padding-left:180px;padding-right:180px;/* -- Slider -- */}.ActuFull-title{padding-bottom:30px;}.ActuFull-texte{padding:60px 60px;}.ActuFull-img{position:relative;height:420px;overflow:hidden;}.ActuFull-img img{position:absolute;display:block;left:-100%;right:-100%;top:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;width:auto;height:auto;}.Slider{position:relative;width:100%;/* -- Sidebar -- */}.Slider-title{height:2.5em;overflow:hidden;margin-bottom:20px;transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;}.Slider-title.s-title2{height:2.3em;}.Slider-media{display:table;}.Slider-cat{margin-bottom:40px;}.Slider-img,.Slider-text{display:table-cell;vertical-align:top;}.Slider-text{padding-left:30px;font-size:0.94444em;line-height:1.35294em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Slider-nav{position:absolute;margin-top:-20px;left:455px;z-index:1;background:#fff;font-family:"CircularBook";}.Slider-zone{position:relative;width:10000px;}.Slider-slide{float:left;position:relative;width:600px;padding-right:90px;}.Slider .Bloc-cat{margin-bottom:40px;}.Sidebar{position:relative;color:#fff;border-left:none;border-bottom:none;height:100%;background:#f44336;}.Sidebar.invert{background:#fff;color:#f44336;}.Sidebar-map{display:block;width:100%;height:390px;margin-top:60px;}.Sidebar a{color:#fff;}.Sidebar-img img{display:block;width:100%;height:auto;}.Sidebar-content{margin:90px 0;padding:0 90px;}.Sidebar blockquote{font-size:1.66667em;line-height:1.33333em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Sidebar blockquote + .legende{margin-top:20px;}.Sidebar-bottom{position:absolute;bottom:90px;margin:0 90px;}.Sidebar-bottom .legende{opacity:0.5;font-size:0.77778em;line-height:1.28571em;/* -- Transition -- *\
    $duree = duree de la transition
*/font-family:"CircularBook";}.Sidebar-bottom .poste{text-transform:uppercase;font-size:0.71429em;line-height:1.8em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Sidebar-bottom .poste a{color:#fff;}.Sidebar-membre{margin-bottom:30px;}.Sidebar-membre img{display:block;}.Sidebar-legende{padding-left:25px;color:#e4e8e4;font-size:0.88889em;line-height:1.375em;/* -- Transition -- *\
    $duree = duree de la transition
*/font-family:"CircularBook";}.Sidebar-legende a{color:#e4e8e4;border-bottom:1px solid #e4e8e4;}.Sidebar-legende a:hover{color:#333;border-bottom:1px solid #333;}.Sidebar-poste{font-family:"Baskerville";font-size:0.9375em;line-height:1.46667em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Sidebar-menuTitle{font-size:0.54545em;line-height:5em;/* -- Transition -- *\
    $duree = duree de la transition
*/font-family:"CircularBlack";text-transform:uppercase;border-bottom:1px solid #f6695e;}.Sidebar-menu{color:#fff;font-size:1.11111em;line-height:3em;/* -- Transition -- *\
    $duree = duree de la transition
*/border-top:2px solid #fff;}.Sidebar-menu li{position:relative;height:60px;border-bottom:1px solid #f6695e;}.Sidebar-menu li a{opacity:0.5;}.Sidebar-menu li.current_page_item a{opacity:1;color:#fff;}.Sidebar-menu a{display:block;height:100%;color:#fff;}.Sidebar-menu a:after{content:'→';position:absolute;right:0;}.Sidebar-menu a:hover{color:#fff;opacity:1;}.Sidebar-chart{margin-top:60px;border-top:2px solid #fff;padding-bottom:150px;}.Sidebar-chart .Sidebar-menuTitle{border-bottom:none;}.Sidebar-chart canvas{margin-left:35px;}.biColumn{padding-top:60px;}.biColumn .first{padding-right:40px;}.biColumn .second{border-top:2px solid #333;margin-top:7px;padding-top:64px;font-size:0.72222em;line-height:2.15385em;/* -- Transition -- *\
    $duree = duree de la transition
*/font-family:"CircularBook";}.biColumn .second strong{font-family:"CircularBold";}.row{position:relative;/*-----------------------------------------------*\
    $3 -- OBJECTS
\*-----------------------------------------------*//* -- Links -- */}.button{font-family:"CircularBook";text-transform:uppercase;letter-spacing:0.2em;font-size:0.61111em;line-height:3.63636em;/* -- Transition -- *\
    $duree = duree de la transition
*/display:inline-block;height:40px;padding:0 40px;margin-top:30px;color:#ccc;border:1px solid #ccc;border-radius:20px;}.button.invert{color:#fff;background:#333;}.button:hover{color:#fff;background:#f44336;border:1px solid #f44336;}.readMore{display:inline-block;margin-top:20px;color:#999;font-size:0.77778em;line-height:1.64286em;/* -- Transition -- *\
    $duree = duree de la transition
*/transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;font-family:"CircularMedium";/* -- Map -- */}.readMore:before{content:'→';margin-right:5px;/*&:hover,
    &:active{
        color: $cBrand;   
    }*/}.Map{position:relative;width:100%;height:100%;overflow:hidden;}.Map-canvas{width:100%;height:calc(100% + 40px);}.Map-ctrl{position:absolute;width:320px;left:90px;bottom:120px;padding:60px 45px;background:#333;color:#fff;font-size:0.94444em;line-height:1.35294em;/* -- Transition -- *\
    $duree = duree de la transition
*/z-index:1;}.Map-ctrl .s-title3{font-size:1.76471em;line-height:2.06667em;/* -- Transition -- *\
    $duree = duree de la transition
*/padding-top:15px;border-top:3px solid #fff;}.Map-BtnZoomContainer{position:absolute;width:60px;height:120px;right:0;top:calc(50% - 60px);}.Map-BtnZoom{cursor:pointer;width:100%;height:60px;position:absolute;background:url("../img/zoom_plus.png") no-repeat 50% 0;background-color:#333;transition:all 300ms ease-out;-webkit-transition:all 300ms ease-out;}.Map-BtnZoom:hover{background-color:#f44336;}.Map-BtnZoom.moins{background-image:url("../img/zoom_moins.png");bottom:0;}.Map .MapCtrl-container{position:absolute;background:#333;}.Map .Bloc-close-ico{position:absolute;right:7px;top:0px;color:#333;}.Map .Bloc-close-ico:hover{color :#ddd4cb;}.ZoneMap{width:100%;min-height:600px;height:calc(100vh - 90px);margin-top:60px;/* -- Filtres -- */}.Filtre{position:relative;margin-top:30px;/* -- infoBox -- */}.Filtre-btn{display:block;width:100%;padding:13px 20px;border:1px solid #fff;color:#fff;}.Filtre-btn + .Filtre-btn{margin-top:10px;}.Filtre-btn.active{color:#333;background:#fff;width:calc(100% + 45px);}.Filtre-btn.custom{background:#efece5;color:#333;}.Filtre-list{display:none;position:absolute;height:100%;width:320px;top:0;left:320px;color:#333;background:#fff;overflow-y:auto;z-index :5;}.Filtre-list a{display:block;padding:16px 30px;background:#fff;transition:all 200ms ease-out;-webkit-transition:all 200ms ease-out;}.Filtre-list a:hover,.Filtre-list a.selected{color:#fff;background:#f44336;}.Filtre-list.open{display :block;z-index :40;}.infoBox{top:250px;right:150px;width:286px;padding:26px 30px;background:#fff;font-size:1.5em;/* -- BtnNav -- */}.infoBox .s-cat{margin-bottom:8px;}.infoBox .s-title5{font-size:1em;line-height:1.11111em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.infoBox .readMore{margin-top:8px;}.infoBox .readMore:hover{color:#f44336;}.infoBox .nope{display:none;}.BtnNav-prev{border-radius:20px 0 0 20px;}.BtnNav-next{border-radius:0 20px 20px 0;margin-left:-1px;}.BtnNav a{display:inline-block;position:relative;width:80px;height:40px;line-height:36px;border:1px solid #ccc;color:#ccc;text-align:center;font-size:16px;}.BtnNav a.disabled{opacity:0.2;}.BtnNav a:hover,.BtnNav a:active{color:#f44336;border:1px solid #f44336;z-index:1;}@media (max-height:900px){.Volet-nav{font-size:2.2em;line-height:1.3em;}.Volet-nav .sub-menu li:first-child{margin-top:15px;}.Volet-nav .sub-menu li:last-child{margin-bottom:15px;}}@media (max-height:750px){.Volet-nav{font-size:1.9em;line-height:1.25em;}.Volet-nav .sub-menu li:first-child{margin-top:8px;}.Volet-nav .sub-menu li:last-child{margin-bottom:8px;}}@media (max-height:620px){/*-----------------------------------------------*\
    $1 -- DESKTOP (wide screens)
\*-----------------------------------------------*/.Volet.menu .Volet-footer{display:none;}.Volet-nav .sub-menu li:last-child:before{content:none;}}@media (min-width:1440px){.Medias-visuel{width:278px;}}@media (min-width:1240px){/*-----------------------------------------------*\
    $2 -- DESKTOP (sauf wide screens)
\*-----------------------------------------------*/.PageHeader.splash .PageHeader-titles{padding-right:40%;}.Bloc-cell.full{padding:0 120px !important;}}@media (min-width:720px) and (max-width:1440px){/* -- SiteHeader -- *//*-----------------------------------------------*\
    $3 -- TABLETTES (paysage et plus petit)
\*-----------------------------------------------*/.SiteHeader{/* -- Bloc -- */}.SiteHeader-logo,.SiteHeader-menu{margin-left:60px;}.Bloc{/* -- ActuFull -- */}.Bloc-cell{padding:0 60px;}.Bloc-cell.full{padding-left:90px;padding-right:90px;}.Bloc-body{padding:60px 0;}.ActuFull{padding-left:120px;padding-right:120px;/* -- PageHeader -- */}.ActuFull-texte{padding:60px 60px 30px;}.PageHeader{/* -- Sidebar -- */}.PageHeader-titles{padding:0 60px;}.PageHeader.split .PageHeader-accroche{padding-left:60px;}.Sidebar{/* -- Bandeau -- */}.Sidebar-content{margin:60px 0;padding:0 60px;}.Sidebar-bottom{margin:0 60px;bottom:60px;}.Bandeau{/* -- Medias -- */}.Bandeau-texte{padding:0 60px;}.Medias{padding:60px;/* -- Slider -- */}.Slider{/* -- Header -- */}.Slider-nav{left:370px;}.Slider-slide{width:530px;padding-right:60px;}.SiteHeader,.HeaderBg{margin-left:-590px;}}@media (max-width:1240px){/*-----------------------------------------------*\
    $3 -- PHABLETTES (ipad portrait)
\*-----------------------------------------------*/[class*=height-]{height:inherit;}[class*=height-] .Bloc-cell{padding-top:60px;padding-bottom:60px;}.s-title1{font-size:2.6em !important;/* -- SiteHeader -- */}.SiteHeader{/* -- SiteFooter -- */}.SiteHeader-nav .sub-menu a{padding:0 15px;}.SiteFooter .text{padding-top:60px;/* -- PageHeader -- */}.PageHeader{width:100%;margin-left:0;min-height:800px;/* -- Bloc -- */}.PageHeader-titles{padding:0 60px;}.Bloc{/* -- Bandeau -- */}.Bloc-push{text-align:center;}.Bloc-map{position:relative;height:480px;}.Bloc-zoneImg{display:none;}.Bloc.empty{height:260px;}.Bandeau{height:inherit;/* -- Slider -- */}.Bandeau-texte{padding:60px 60px 0;}.Bandeau-stat{padding:60px 0;}.Bandeau-number{font-size:3em;}.Slider{/* -- Media -- */}.Slider-media{position:relative;display:block;}.Slider-img,.Slider-text{display:block;}.Slider-text{padding-left:0;margin-top:10px;}.Slider-img img{width:auto;height:210px;}.Slider-nav{left:725px;}.Slider-slide{width:880px;}.Slider-title.s-title2{height:1.3em;}.Medias{/* -- Sidebar -- */}.Medias-visuel{height:120px;width:182px;}.Sidebar{/* -- Map -- */}.Sidebar-menu li{width:100%;white-space:nowrap;overflow:hidden;}.Sidebar-content.equipe{margin:0;padding:60px 25px 0;}.Map{/* -- Map -- */}.Map-ctrl{left:30px;bottom:90px;}.Volet{/* -- Header -- */}.Volet-social{display:block;margin-top:15px;text-align:center;}.SiteHeader,.HeaderBg{margin-left:-470px;}}@media (max-width:980px){/*-----------------------------------------------*\
    $3 -- PHABLETTES (sans smartphone)
\*-----------------------------------------------*/.col-xs-height{display:block;/* -- SiteHeader -- */}.SiteHeader{text-align:center;/* -- PageHeader -- */}.SiteHeader-nav{width:510px;}.SiteHeader-logo{float:left;}.PageHeader{text-align:center;/* -- Bloc -- */}.PageHeader.split{text-align:center;}.PageHeader.split .s-hook2{position:static;padding:0;}.PageHeader.split .PageHeader-accroche{margin-top:20px;}.PageHeader-accroche{padding-left:0 !important;}.PageHeader-accroche:before{position:relative;left:50%;margin-left:-30px !important;}.PageHeader .verbes{position:relative;width:100%;left:50%;}.PageHeader .verbes .verbe{margin-left:-60px;}.Bloc{/* -- ActuFull -- */}.Bloc-cell.full{padding:60px;}.Bloc.empty{display:none;}.Bloc-map{height:inherit;}.ActuFull{padding-left:0;padding-right:0;/* -- Slider -- */}.ActuFull-texte{padding:30px 0;}.ActuFull-img{height:300px;}.Slider{/* -- Sidebar -- */}.Slider-nav{left:500px;}.Slider-slide{width:660px;}.Sidebar{/* -- BiColumn -- */}.Sidebar .noTop{padding-top:0 !important;}.Sidebar-bottom{position:static;}.Sidebar-img{position:relative;width:100%;height:300px;overflow:hidden;}.Sidebar-img img{position:absolute;left:-100%;right:-100%;top:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;width:auto;height:auto;}.Sidebar-map{max-width:100%;height:300px;text-align:center;}.Sidebar-content{margin:0;padding:60px 60px 0;}.Sidebar-content:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.Sidebar-content + .Sidebar-bottom{padding-top:60px;}.Sidebar-bottom{clear:both;padding:60px 0;}.Sidebar-membre{width:45%;float:left;margin-bottom:0;}.Sidebar-membre:first-child{margin-right:10%;}.biColumn{/* -- Volet -- */}.biColumn .first{padding-right:0;}.biColumn .second{margin-top:60px;padding-top:30px;}.Volet{/* -- Map -- */}.Volet.intro{display:none;}.Volet.menu{width:100%;text-align:center;}.Volet-header,.Volet-footer{width:100%;left:0;text-align:center;}.Volet-nav .sub-menu li:last-child{position:relative;}.Volet-nav .sub-menu li:last-child:before{position:relative;left:50%;margin-left:-10px;}.Map{height:360px;}.Map-ctrl{top:0;left:0;width:100%;height:330px;}.bigMap .Map{height:100%;}.Bloc-map #map-canvas{height:390px;}.bigMap{margin-top:0;height:900px;}.bigMap #map-canvas{margin-top:300px;height:600px;}.Filtre-list{height:inherit;width:100%;top:330px;left:0;/* -- Bandeau -- */}.Bandeau{/* -- Header -- */}.Bandeau-stat{padding:30px 0;}.SiteHeader,.HeaderBg{margin-left:-360px;}}@media (min-width:720px) and (max-width:980px){/*-----------------------------------------------*\
    $4 -- SMARTPHONE
\*-----------------------------------------------*/.PageHeader{min-height:620px;}.s-title1{font-size:2.77778em;line-height:1.24em;/* -- Transition -- *\
    $duree = duree de la transition
*//* -- Bloc -- */}.Bloc{/* -- Sidebar -- */}.Bloc-list li{width:49.5%;padding:0 30px;}.Sidebar-content{margin:0;padding:60px;}.Bandeau-suffix{margin-top:-20px;}}@media (max-width:720px){[class*=height-] .Bloc-cell{padding-top:30px;padding-bottom:30px;}.s-title1{font-size:2em !important;}.s-title2{font-size:1.6em !important;}.s-hook1{font-size:1.2em !important;}.s-intitule{text-align:center;/* -- SiteHeader -- */}.s-intitule.left{text-align:left;}.SiteHeader{/* -- PageLayout -- */}.SiteHeader-logo{margin-left:30px;}.SiteHeader-menu{margin-top:-2px;margin-right:30px;}.PageLayout.middle{margin-top:0;/* -- Slider -- */}.Slider{float:none;/* -- Bloc -- */}.Slider-img img{width:100%;height:auto;}.Slider-nav{display:none;}.Slider-zone{width:100%;}.Slider-slide{width:100%;padding-right:0;}.Bloc{/* -- ActuFull -- */}.Bloc-cell{padding:0 30px;}.Bloc-cell.full{padding:30px;}.Bloc-body{padding:30px 0;}.Bloc-list{text-align:center;}.Bloc-list li{position:relative;width:100%;padding:0;}.Bloc-list li:after{position:relative;left:50%;margin-left:-15px;}.Bloc-title{width:100%;}.ActuFull{padding-left:0;padding-right:0;/* -- PageHeader -- */}.ActuFull-texte{padding:30px 0;}.ActuFull-img{height:inherit;}.ActuFull-img img{position:static;width:100%;height:auto;}.PageHeader{position:static;height:inherit;padding:150px 0 60px;min-height:540px;/* -- Sidebar -- */}.PageHeader-bg{position:fixed;}.PageHeader.splash{padding:60px 0;}.PageHeader .verbes .verbe{margin-left:-40px;}.PageHeader-gobot{display:none;}.PageHeader-titles{padding:0 30px !important;}.Sidebar{/* -- Medias -- */}.Sidebar-content{padding:30px;}.Sidebar-bottom{margin:0 30px;padding-bottom:30px;}.Sidebar-membre{float:none;margin-top:15px;text-align:left;}.Medias{padding:30px;/* -- Bandeau -- */}.Medias .BtnNav{display:none;}.Medias-btnGallery .nbMedias{top:5px;}.Medias-mobile{width:inherit;}.Medias-visuel{width:47%;height:90px;margin-bottom:8px;margin-right:6%;}.Medias-visuel:nth-child(2n){margin-right:0;}.Medias-list{margin-top:30px;}.Bandeau{/* -- PageLayout -- */}.Bandeau-texte{text-align:center;padding:30px;}.Bandeau-stat{font-size:0.8em;}.Bandeau-number{font-size:4.28571em;line-height:0.08333em;/* -- Transition -- *\
    $duree = duree de la transition
*/}.Bandeau-suffix{font-size:1.3em;margin-top:-10px;}.PageLayout{margin-top:0;/* -- SiteFooter -- */}.SiteFooter{text-align:center;/* -- Form -- */}.SiteFooter nav{padding:30px 0;}.icon-send:after{content:'';}textarea{height:150px;/* -- Map -- */}.Map{height:300px;}.Map-ctrl{top:0;left:0;width:100%;bottom:inherit;padding:30px;}.Map-hotspot{display:none;}.Bloc-map #map-canvas{height:330px;}.bigMap .Map,.bigMap #map-canvas{height:860px;/* -- SiteFooter -- */}.SiteFooter{margin-top:0;padding:60px 0;/* -- Volet -- */}.SiteFooter-social{margin-top:15px;margin-bottom:30px;}.SiteFooter-title{margin-bottom:10px;}.SiteFooter .text{padding-top:30px;}.SiteFooter .left,.SiteFooter .right{float:none;}.Volet{/* -- Header -- */}.Volet-nav{font-size:1.8em;line-height:1.3em;}.Volet-nav.sub-menu{font-size:1.5em;}.SiteHeader,.HeaderBg{width:100%;margin-left:0;left:0;}}*::selection{background:#f44336;color:#fff;}*::-moz-selection{background:#f44336;color:#fff;}a::selection{color:#fff;}a::-moz-selection{color:#fff;}.SiteHeader nav > ul > li > a:focus{outline:none;border:none;}